-
    let swiperOfferText = {
        slide1H2: 'Создание сайтов под параметры ЯНДЕКС и GOOGLE',
        slide1Paraghraph1: 'Создали сайт, но клиентов не прибавилось?',
        slide1Paraghraph2: 'Перестаёте вкладывать деньги в рекламу сайта и сразу останавливается поток заявок?',
        slide1Link2: 'параграф сайта Предложение слайд2 - p',

        slide2H2: 'Перестаёте вкладывать деньги в рекламу сайта и сразу останавливается поток заявок?',
        slide2Paraghraph1: 'параграф сайта Предложение слайд2 - p1',
        slide2Paraghraph2: 'параграф сайта Предложение слайд2 - p2',
        slide2Link2: 'параграф сайта Предложение слайд2 - p',

        slide3H2: 'НА ЭТОМ ОБЖИГАЮТСЯ МНОГИЕ!',
        slide3Paraghraph1: 'В первый раз у нас? Получи базовую настройку рекламы бесплатно!',
        slide3Paraghraph2: 'параграф сайта Предложение слайд3 - p2',
        slide3Link2: 'параграф сайта Предложение слайд3 - p',
    }

-
    let swiperCaseText = {
        slide1H2: 'заголовок сайта Предложение слайд1 - h2 - заголовок первый',
        slide1Paraghraph1: 'параграф сайта Предложение слайд1 - p1',
        slide1Paraghraph2: 'параграф сайта Предложение слайд1 - p2',
        slide1Link2: 'aqualife.kg',

        slide2H2: 'заголовок сайта Предложение слайд2 - h2 - заголовок первый',
        slide2Paraghraph1: 'параграф сайта Предложение слайд2 - p1',
        slide2Paraghraph2: 'параграф сайта Предложение слайд2 - p2',
        slide2Link2: 'параграф сайта Предложение слайд2 - p',

        slide3H2: 'заголовок сайта Предложение слайд3 - h2 - заголовок первый',
        slide3Paraghraph1: 'параграф сайта Предложение слайд3 - p1',
        slide3Paraghraph2: 'параграф сайта Предложение слайд3 - p2',
        slide3Link2: 'параграф сайта Предложение слайд3 - p',
    }

-
    let itroMainText = {
        h1: 'надоело сливать рекламные бюджеты?',
        p1: 'EaseWeb',
        p2: 'прокачай сайт по требованиям поиска и получи заявки',
    }
                    
-
    let intro2SectionText = {
        h2: 'Создание сайта - первый шаг к успеху в вашем бизнесе!',
        p1: 'Мы предлагаем только проверенные временем решения для бизнеса:',
        li1: 'Сайты-визитки',
        li2: 'Корпоративные сайты',
        li3: 'Каталоги',
        li4: 'Интернет магазины',
        li5: 'Имиджевые и промосайты',
        li6: 'Продающие страницы (Landing Page)',
        li7: 'Сайты с готовыми решениями',
    }
                    
-
    let stepsWorkingText = {
        h2: 'Порядок работ',
        h3__1: 'Подготовка',
        h3__2: 'Дизайн',
        h3__3: 'Программирование',
        h3__4: 'Наполнение и запуск',

        li1__1: 'Заполнение Брифа',
        li1__2: 'Определение целей и задач проекта',
        li1__3: 'Разработка структуры сайта',
        li1__4: 'Написание технического задания',
        li1__5: 'Сбор материалов. Написание текста для сайта',

        li2__1: 'Разработка и утверждение прототипа сайта',
        li2__2: 'Определение целей и задач проекта',
        li2__3: 'Создание дизайн-макета сайта',
        li2__4: 'Дизайн страниц для смартфонов и планшетов',
        li2__5: 'Утверждение дизайна',

        li3__1: 'Верстка дизайн-макета',
        li3__2: 'Интеграция в систему управления',
        li3__3: 'Разработка дополнительных модулей',
        li3__4: 'Подключение счетчиков и социальных сервисов',
        li3__5: 'Проверка и тестирование',

        li4__1: 'Заполнение сайта материалами заказчика',
        li4__2: 'Размещение сайта на хостинг-площадке',
        li4__3: 'Регистрация в поисковых системах',
        li4__4: 'Запуск сайта!',
    }
                    