-
    let swiperOfferText = {
        slide1H2: 'Создание сайтов под параметры ЯНДЕКС и GOOGLE',
        slide1Paraghraph1: 'Создали сайт, но клиентов не прибавилось?',
        slide1Paraghraph2: 'Перестаёте вкладывать деньги в рекламу сайта и сразу останавливается поток заявок?',
        slide1Link2: 'параграф сайта Предложение слайд2 - p',

        slide2H2: 'Перестаёте вкладывать деньги в рекламу сайта и сразу останавливается поток заявок?',
        slide2Paraghraph1: 'параграф сайта Предложение слайд2 - p1',
        slide2Paraghraph2: 'параграф сайта Предложение слайд2 - p2',
        slide2Link2: 'параграф сайта Предложение слайд2 - p',

        slide3H2: 'НА ЭТОМ ОБЖИГАЮТСЯ МНОГИЕ!',
        slide3Paraghraph1: 'В первый раз у нас? Получи базовую настройку рекламы бесплатно!',
        slide3Paraghraph2: 'параграф сайта Предложение слайд3 - p2',
        slide3Link2: 'параграф сайта Предложение слайд3 - p',
    }

-
    let swiperCaseText = {
        slide1H2: 'заголовок сайта Предложение слайд1 - h2 - заголовок первый',
        slide1Paraghraph1: 'параграф сайта Предложение слайд1 - p1',
        slide1Paraghraph2: 'параграф сайта Предложение слайд1 - p2',
        slide1Link2: 'параграф сайта Предложение слайд2 - p',

        slide2H2: 'заголовок сайта Предложение слайд2 - h2 - заголовок первый',
        slide2Paraghraph1: 'параграф сайта Предложение слайд2 - p1',
        slide2Paraghraph2: 'параграф сайта Предложение слайд2 - p2',
        slide2Link2: 'параграф сайта Предложение слайд2 - p',

        slide3H2: 'заголовок сайта Предложение слайд3 - h2 - заголовок первый',
        slide3Paraghraph1: 'параграф сайта Предложение слайд3 - p1',
        slide3Paraghraph2: 'параграф сайта Предложение слайд3 - p2',
        slide3Link2: 'параграф сайта Предложение слайд3 - p',
    }

-
    let itroMainText = {
        h1: 'надоело сливать рекламные бюджеты?',
        p1: 'EaseWeb',
        p2: 'прокачай сайт по требованиям поиска и получи заявки',
    }
                    