div(class=logoClasses[0])
    a(class=logoClasses[1])
        each file in imagesFiles
            each logoImage in file
                +logo(
                            logoImage.alt,
                            logoImage.type,
                            logoImage.paths.path,
                            logoImage.paths.path2x,
                        )