div(class=logoClasses[0])
    a(class=logoClasses[1])
        //- each file in logoImage
        //-     +logo(
        //-             file.alt,
        //-             file.type,
        //-             file.paths.path,
        //-             file.paths.path2x,
        //-             )