section(class=stepsWorkingSection)
	div(class=container)
		+h2(stepsWorkingText.h2, ClassstepsWorkingTitle__h2)
		div(class=stepsWorkingWrapper+color__white)
			if (mainPage)
				include ../../modules/includes/blocks/stepsWorkingSection-cards/stepsWorkingSection-card1
				include ../../modules/includes/blocks/stepsWorkingSection-cards/stepsWorkingSection-card2
				include ../../modules/includes/blocks/stepsWorkingSection-cards/stepsWorkingSection-card3
				include ../../modules/includes/blocks/stepsWorkingSection-cards/stepsWorkingSection-card4