section(class=intro2Section)
	div(class=container)
		div(class=intro2SectionWrapper+color__white)
			if (mainPage)
				+h2(intro2SectionText.h2, ClassIntro2SectionTitle__h2)
				+p(intro2SectionText.p1, ClassIntro2SectionParagraph__p)
				+p(intro2SectionText.p2, ClassIntro2SectionParagraphMin__p)
			include ../../modules/includes/blocks/list-intro2Section