div(class=classSliderFeedBackSlide)
	div(class=classSliderFeedBackSlideWrapper)
		div(class=classSliderFeedBackSlideInner)
			div(class=classSliderFeedBackSlideImageWrapper)
				+picture(
					FeedBackSectionImages1.alt,
					FeedBackSectionImages1.type,
					FeedBackSectionImages1.path,
					FeedBackSectionImages1.path2x,
				)
			+h2(feedBackTextPersons.h2__1,)
			+p(feedBackTextPersons.p1__1,)