div(class=classSliderFeedBackSlide)
	div(class=classSliderFeedBackSlideWrapper)
		div(class=classSliderFeedBackSlideInner)
			div(class=classSliderFeedBackSlideImageWrapper)
				+picture(
					FeedBackSectionImages2.alt,
					FeedBackSectionImages2.type,
					FeedBackSectionImages2.path,
					FeedBackSectionImages2.path2x,
				)
			+h2(feedBackTextPersons.h2__3,)
			+p(feedBackTextPersons.p1__1,)