-   let swiperOffer = 'swiper-offer'
-   let swiperMain = 'swiper-main'

//- defaultClasses
-   let swiperWrapper = 'swiper-wrapper'
-   let swiperSlide = 'swiper-slide'
-   let swiperSlideActive = 'swiper-slide-active'
-   let swiperPagination = 'swiper-pagination'
-   let swiperButtonPrev = 'swiper-button-prev'
-   let swiperButtonNext = 'swiper-button-next'
-   let swiperScrollbar = 'swiper-scrollbar'
-   let swiperTextWrapper = 'swiper-text-wrapper'
-   let swiperSliderImage = 'swiper-image-wrapper'

//- SwiperMain
-   let mainWrapper = 'swiper-main__wrapper'
-   let mainSlide= 'swiper-main__slide'
-   let classSliderMain= 'swiper' + ' swiper-main'
-   let classSliderMainWrapper= swiperWrapper + ' ' + mainWrapper
-   let classSliderMainSlide= swiperSlide + ' swiper-main__slide'
-   let classSliderMainSlideActive= swiperMain + ' swiper-main__slide ' + swiperSlideActive
-   let classSliderMainSlideWrapper=  'swiper-main__slide-wrapper'
-   let classSliderMainSlideInner= ' swiper-main__slide-inner'
-   let classSliderMainSlideText= ' swiper-main__slide-text-wrapper'
-   let classSliderMainSlideBlock=' swiper-main__slide-block'
-   let classSliderMainSlideImageWrapper= ' swiper-main__slide-wrapper-image'
-   let classMainWrapperAll = 'swiperMain-wrapperAll'

//- SwiperOffer
-   let offerWrapper = 'swiper-offer__wrapper'
-   let offerSlide= 'swiper-offer__slide'
-   let classSliderOffer= 'swiper' + ' swiper-offer'
-   let classSliderOfferWrapper= swiperWrapper + ' ' + offerWrapper
-   let classSliderOfferSlide= swiperSlide + ' swiper-offer__slide'
-   let classSliderOfferSlideActive= swiperMain + ' swiper-offer__slide ' + swiperSlideActive
-   let classSliderOfferSlideWrapper=  'swiper-offer__slide-wrapper'
-   let classSliderOfferSlideInner= ' swiper-offer__slide-inner'
-   let classSliderOfferSlideText= ' swiper-offer__slide-text-wrapper'
-   let classSliderOfferSlideBlock=' swiper-offer__slide-block'
-   let classSliderOfferSlideImageWrapper= ' swiper-offer__slide-wrapper-image'
-   let classOfferWrapperAll = 'swiperOffer-wrapperAll'

//- Sliders ID
-   let swiperMainID = 'swiperMain'
-   let swiperOfferID = 'swiperOffer'
-   let swiperIntroID = 'swiperIntro'
-   let swiperPromoID = 'swiperPromo'

//- SwiperIntro
-   let classSliderIntro= swiper + ' ' + swiper + '-' + intro + ' ' + main
//- SwiperPromo
-   let classSliderPromo= swiper + ' ' + swiper + '-' + promo + ' ' + main

-   let className = slide + '-' + swiperText
-   let urlLink= 'link'
-   let urlLink1= 'link11'
-   let urlLink2= 'link22'

-
    let urlLinkSlideText = [
        urlLink1,
        urlLink2
    ]