{
	"globals": {
		"jQuery": true,
		"$": true
	},
	"extends": "htmlacademy/vanilla",
	"env": {
		"browser": true,
		"node": true
	},
	
	"rules": {
		"no-underscore-dangle": "off",
		"linebreak-style": [
			"error",
			"windows"
		]
	}
}