.main {
    background-image: url('../../images/decor/file2@2000x2000.jpg');
    background-color: $blue3;
    background-size: cover;

    @include media(">=tablet") { 
        background-image: url('../../images/decor/file2@3000x3000.jpg');
    }
    @include media(">=desktop") { 
        background-image: url('../../images/decor/file2@3500x3500.jpg');
    }
}

.main-section {
    min-width: 100%;
    min-height: 150px;
    padding: 2rem;

    @include media(">=tablet") { 
        min-height: 250px;
        padding: 2.5rem;
    }
}