div(class=intro2Section)
	div(class=container)
		div(class=intro2SectionWrapper+color__white)
			if (mainPage)
				+h2(itro2SectionText.h2, ClassIntroBlockTitle__h2)
				+p(itro2SectionText.p1, ClassIntroBlockParagraph__p)
				+p(itro2SectionText.p2, ClassIntroBlockParagraphMin__p)
			include ../../modules/includes/blocks/list-intro2Section