section(class=feedBackSection)
	div(class=container)
		+h2(feedBackText.h2, ClassfeedBackTitle__h2)
		div(class=feedBackWrapper+color__white)
			include ../../modules/includes/sliders/feedBack/sliderfeedback