
-   let s600X600__2x = '@2x' 
-   let s300X300__1x = '@300x300' 

-   let s500X500__1x = '@500x500' 
-   let s1000X1000__2x = '@2x' 

-   let s1000X1000__1x = '@1000x1000'
-   let s2000X2000__2x = '@2000x2000'
-   let s3000X3000__3x = '@3000x3000'

-
    let sizes1000 = [
       s500X500__1x,
       s1000X1000__2x,
       s1000X1000__1x,
       s1000X1000__3x,
       s1000X1000__4x,
    ]
   
-
    let sizes600 = [
       s300X300__1x,
       s600X600__2x,
    ]
