//- +picture(
//-     logoMainImage.alt,
//-     logoMainImage.type,
//-     logoMainImage.path,
//-     logoMainImage.path2x,
//- )
+icon(
    logoIcons.viewBox,
    logoIcons.width,
    logoIcons.height,
    logoIcons.id,
)