div(class=stepsWorkingSectionCard)
	div(class=stepsWorkingSectionCardWrapper+color__white)
		+h3(stepsWorkingText.h3__1, ClassstepsWorkingTitle__h3)
		div(class=stepsWorkingSectionCardInner)
			+p(stepsWorkingText.li1__1, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li1__2, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li1__3, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li1__4, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li1__5, ClassstepsWorkingParagraph__p)