-
	let intro2Section__list = [
		'Сайты-визитки',
		'Корпоративные сайты',
		'Каталоги',
		'Интернет магазины',
		'Имиджевые и промосайты',
		'Продающие страницы (Landing Page)',
		'Сайты с готовыми решениями',
	]