.intro-block {
    position: relative;
    background-image: url('../../images/content/bg-111.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    // &::after{
    //     content: '';
    //     display: block;
    //     position: sticky;
    //     top: 0;
    //     background-image: url('../../images/content/orange1.png');
    //     background-size: cover;
    //     width: 330px;
    //     height: 350px;
    // }
    // &::before{
    //     content: '';
    //     display: block;
    //     position: sticky;
    //     top: 0;
    //     background-image: url('../../images/content/orange2.png');
    //     background-size: cover;
    //     width: 330px;
    //     height: 350px;
    // }
}