extends ../../../../layout/sliders/sliderMain/sliderMain

block mainWrapper
    div(class=classSliderCase id=swiperCaseID)
        block wrapper
            div(class=classSliderCaseWrapper)
                block includes
                    include slide-blocks/slide1
                    include slide-blocks/slide2
                    include slide-blocks/slide3
                    include slide-blocks/slide4
                    include slide-blocks/slide5
                    include slide-blocks/slide6
            block pagination
                div(class=swiperPagination)
