- let mainTitle = 'main-title'

//- index.html logo
- let classNameLogo = 'logo'

- let classTitleThird = 'title-third'

- let quzieParagraph = 'quzieParagraph'

- let inputsWrapper = 'input-mainWrapper'

- let price1 = 'price1'
- let price2 = 'price2'
- let price3 = 'price3'

//- intro-section
-   let titleDefault = ' title-default'
-   let titleDefault__H1 = ' title__h1'
-   let titleDefault__H2 = ' title__h2'
-   let titleDefault__H3 = ' title__h3'

-   let classButton = 'class-button'
-   let classOffer = 'class-offer'
-   let ClassIntroBlockTitle__h1 = ' introBlock-titleH1 '
-   let ClassIntroBlockParagraph__p = ' introBlock-paraghraph '
-   let ClassIntroBlockParagraphMin__p = ' introBlock-paraghraphMin '

//- Секция - intro2-section
-   let intro2Section = 'intro2Section'
-   let ClassIntro2SectionTitle__h2 = ' Intro2Section-titleH2 '
-   let ClassIntro2SectionParagraph__p = ' Intro2Section-paraghraph '
-   let ClassIntro2SectionParagraphMin__p = ' Intro2Section-paraghraphMin '
-   let classListItro2Section = 'list-intro2Section'

//- Секция - stepsWorking-section
-   let stepsWorkingSection = 'stepsWorkingSection'
-   let stepsWorkingSectionCard = 'stepsWorkingSection__card'
-   let stepsWorkingWrapper= 'stepsWorkingSection__wrapper'
-   let stepsWorkingSectionCardWrapper ='stepsWorkingSection__card-wrapper'
-   let stepsWorkingSectionCardInner= 'stepsWorkingSection__card-inner'
-   let stepsWorkingSectionInnerTitle= 'stepsWorkingSection__inner-image'
-   let ClassstepsWorkingTitle__h2 = ' stepsWorkingSection-titleH2 '
-   let ClassstepsWorkingParagraph__p = ' stepsWorkingSection-paraghraph '
-   let ClassstepsWorkingParagraphMin = ' stepsWorkingSection-paraghraphMin '

//- Секция - personal-section
-   let personalSection = 'personalSection'
-   let personalWrapper= 'personalSection__wrapper'
-   let personalInner= 'personalSection__inner'
-   let personalSectionCardWrapper ='personalSection__card-wrapper'
-   let personalSectionCardInner= 'personalSection__card-inner'
-   let personalSectionInnerTitle= 'personalSection__inner-image'
-   let ClasspersonalTitle__h2 = ' personalSection-titleH2 '
-   let ClasspersonalParagraph__p = ' personalSection-paraghraph '
-   let ClasspersonalParagraphMin = ' personalSection-paraghraphMin '

//- Секция - personal-section
-   let priceSection = 'priceSection'
-   let priceWrapper= 'priceSection__wrapper'
-   let priceInner= 'priceSection__inner'
-   let priceSectionCardWrapper ='priceSection__card-wrapper'
-   let priceSectionCardInner= 'priceSection__card-inner'
-   let ClasspriceTitle__h2 = ' priceSection-titleH2 '
-   let ClasspriceParagraph__p = ' priceSection-paraghraph '
-   let ClasspriceParagraphMin = ' priceSection-paraghraphMin '

//- Секция - offer-section
-   let offerSection = 'offerSection'
-   let offerSectionWrapper= 'offerSection__wrapper'
-   let offerInner= 'offerSection__inner'
-   let offerSectionCardWrapper ='offerSection__card-wrapper'
-   let offerSectionCardInner= 'offerSection__card-inner'
-   let offerSectionInnerTitle= 'offerSection__inner-image'
-   let ClassofferTitle__h2 = ' offerSection-titleH2 '
-   let ClassofferParagraph__p = ' offerSection-paraghraph '
-   let ClassofferParagraph__price = ' offerSection-p__price '
-   let ClassofferParagraphMin = ' offerSection-paraghraphMin '

//- Секция - feedback-section
-   let feedBackSection = 'feedBackSection'
-   let feedBackSectionWrapper= 'feedBackSection__wrapper'
-   let feedBackInner= 'feedBackSection__inner'
-   let feedBackSectionCardWrapper ='feedBackSection__card-wrapper'
-   let feedBackSectionCardInner= 'feedBackSection__card-inner'
-   let feedBackSectionInnerTitle= 'feedBackSection__inner-image'
-   let ClassfeedBackTitle__h2 = ' feedBackSection-titleH2 '
-   let ClassfeedBackParagraph__p = ' feedBackSection-paraghraph '
-   let ClassfeedBackParagraph__price = ' feedBackSection-p__price '
-   let ClassfeedBackParagraphMin = ' feedBackSection-paraghraphMin '