//- text 
mixin pText
    p(class=className)
        if block
            block
        
mixin p(text)
    p(class=base__text)= text

mixin spanText(className, text)
    span(class=className)= text
        if block
            block