mixin h1(text)
    h1(class=(titleDefault+titleDefault__H1))= text

mixin h2(text)
    h2(class=titleDefault+titleDefault__H2)= text

mixin h3(text)
    h3(class=titleDefault+titleDefault__H3)= text

