section(class=introSectionClasses[0])
	div(class=container)
		div(class=introSectionClasses[1])
			if (mainPage)
				each val in sectionTitleTexts
					+h1(sectionTitleClass, val.pageIndex__sectionIntro_ThirdTitle)
			include ../../blocks/offer
			include ../../modules/includes/sliders/sliderMain/sliderMain
			each val in sectionTitleTexts
				+h2(sectionTitleClass, val.pageIndex__sectionIntro_MainTitle)
			each obj in imagesArr
				each file in obj
					if obj == introSection
						+picture(
							file.alt,
							file.type,
							file.paths.path,
							file.paths.path2,
						)