section(class=introSectionClasses[0])
	div(class=container)
		div(class=introSectionClasses[1])
			if (mainPage)
				each val in sectionTitleTexts
					+h1(sectionTitleClass, val.pageIndex__sectionIntro_ThirdTitle)
					+h2(sectionTitleClass, val.pageIndex__sectionIntro_ParagraphFourTitle)
			include ../../modules/includes/sliders/sliderMain/sliderMain
			each val in sectionTitleTexts
				+h2(sectionTitleClass, val.pageIndex__sectionIntro_MainTitle)
			include ../../modules/includes/pictures/page__index/content/logoPicture
			div(class=classOffer)
				include ../../modules/includes/pictures/page__index/content/woman
				include ../../modules/includes/pictures/page__index/icons/aprove
